
    <footer class="footer-container">
        <div class="footer-flex">
            <div class="footer-logo">
                <h1><a href="/home">The Note</a></h1>
            </div>
            <ul class="social-icons">
                <li><a href="#"><img name="logo-facebook" src="images/facebook logo_icon.png" height="50px" width="50px"></a></li>
                <li><a href="#"><img name="logo-twitter" src="images/twitter logo_icon.png" height="50px" width="50px"></a></li>
                <li><a href="#"><img name="logo-linkedin" src="images/linkedin logo_icon.png" height="50px" width="50px"></a></li>
                <li><a href="#"><img name="logo-instagram" src="images/instagram logo_icon.png" height="50px" width="50px"></a></li>
            </ul>
        </div>
        <% const d = new Date() %>
        <p class="copyright">Copyright ©<%= d.getFullYear() %></p>
    </footer>
</body>
</html>
